.title {
    margin-top: 5rem;
}

.date {
    margin-bottom: 3rem;
    color: #585858;
    font-size: 1rem;
}

.content {
    a {
        color: black;
    }
    a:hover {
        color: #585858;
    }
    li {
        margin-bottom: 0.8rem;
    }
    img {
        border-radius: 8px;
        margin-bottom: 1.45rem;
    }
}


@media only screen and (min-width: 655px) {
    .title {
        margin-top: 8rem;
    }
}
