.chat {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
    top: 12vh;
    padding: 1rem;
}

/* Header */

.avatar {
    position: absolute;
    margin-top: -4.5rem;
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.68,-0.55,0.25,1.31) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.68,-0.55,0.25,1.31) both;
}
.message {
    display:inline-block;
    padding: 12px 16px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin: 0 0 1rem 0;
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.68,-0.55,0.25,1.31) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.68,-0.55,0.25,1.31) both;
}

/* Notes Section */

.noteSection {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.68,-0.55,0.25,1.31) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.68,-0.55,0.25,1.31) both;
}
.subtitle {
    margin: 1rem 0 0 0;
    font-size: 14px;
    color: #585858;
}
.posts {
    list-style-type: none;
    margin: 0 0 2rem 0;
}
.post {
    margin: 1rem 0;
    padding: 12px 16px;
    background-color: #f5f5f5;
    border-radius: 8px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);


    a {
        color: #111111;
        display: block;
        margin: 0;
    }
    h2 {
        margin-top: 0.225rem;
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
    }
    p {
        margin-bottom: 0.225rem;
        font-size: 14px;
    }
}
.post:hover {
    background-color: #E9E9E9;
}

/* Contact Section */

.contactSection {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.link {
    text-decoration: none;
    color: #111111;
}

.externalLink {
    color: #111111;
}
.smallLink {
    margin: 1rem 0 0 0;
    font-size: 14px;
    color: #585858;
    text-decoration: underline;
}

.footerSection {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.copyright {
    margin: 0;
    font-size: 14px;
    color: #585858;
}

/* Mobile */

@media only screen and (min-width: 655px) {
    .avatar {
        margin: 0 0 0 -5rem;
    }
    .message {
        margin-top: 0;
    }
}

/* Animations */

@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  .button {
    position: relative;
    display:inline-block;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #EDEDED;
    text-decoration: none;
    color: black;
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.68,-0.55,0.25,1.31) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.68,-0.55,0.25,1.31) both;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
    
}
.button:hover {
    background-color: #f5f5f5;
}