footer {
    padding-top: 4rem;
    padding-bottom: 2rem;
    max-width: 395px;
}

  .message {
    display:inline-block;
    padding: 12px 16px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin: 0 0 1rem 0;
}