.header {
    margin: 0 0 8rem 0;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-top: 8px;
    float: right;
    padding: 0;
}

.nav-item {
    padding: 0;
    color: black;
    font-size: 1rem;
    margin-left: 22px;
    text-decoration: none;
    float: right;
}

.nav-item:hover {
    text-decoration: underline;
}

.active-nav-item {
    text-decoration: underline;
}

@media only screen and (min-width: 500px) {
    .nav-item {
        margin-right: 0;
        margin-left: 32px;
    }
}