.button {
    position: absolute;
    display:inline-block;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #EDEDED;
    text-decoration: none;
    color: black;
    left: 1rem;
    display: none;
}
.button:hover {
    background-color: #f5f5f5;
}

/* Desktop */

@media only screen and (min-width: 655px) {
    .button {
        top: 9rem;
        left: 20vw;
    }
}