.play-button {
    margin: 0;
    padding: 0;
    position: absolute;
    cursor: pointer;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    background-color: #fff;
    transition: 0.2s ease-in-out;
  }
  
  .play-button:hover {
    transform: scale(1.08);
  }
  
  .triangle {
    position: relative;
    top: 47%;
    left: 53%;
    transform: translate(-50%,-50%);
  }